## Unpacking Tuple Variables

In [1]:
tpl = 1,2,3

In [2]:
n1,n2,n3 = tpl

In [3]:
print(n1,n2,n3)

1 2 3

In [4]:
str(tpl)

'(1, 2, 3)'

 ## Converting Tuple to String

In [5]:
tpl = ('a','r','j','u','n')

In [6]:
my_name = ''.join(tpl)

In [7]:
print(my_name)

arjun

Consider a another case :

In [8]:
tpl = ('a',1,2,3)

In [9]:
# word = ''.join(tpl) # This generates error  TypeError: sequence item 1: expected str instance, int found

The objects in tuples should be string in order to join.

## Contains a element in Tuple or not

In [10]:
tpl = (1,2,3,4,5)

In [11]:
print(4 in tpl)

True

In [12]:
print(6 in tpl)

False

In [13]:
tpl = ('a','b','c')

In [14]:
print('r' in tpl)

False

In [15]:
print('a' in tpl)

True

## Length of a Tuple

In [16]:
tpl = 1,2,3,4,5,'a',False

In [17]:
print(type(tpl))

<class 'tuple'>

In [18]:
len(tpl)

7

## Convert to Dictionary from Tuple

In [19]:
tpl = ((1,"a"),(2,"b"),(3,"c"),(4,"d"))

In [20]:
my_dict = (dict(y,x) for x,y in tpl)

In [21]:
for x,y in tpl:
    print(x,y)

1 a
2 b
3 c
4 d

In [22]:
for x,y in tpl:
    print(x)

1
2
3
4

In [23]:
for x,y in tpl:
    print(y)

a
b
c
d

## Reverse a Tuple

In [24]:
name = 'arjun'

In [25]:
tpl = tuple(name)

In [26]:
rev_name = reversed(tpl)

In [27]:
print(rev_name)

<reversed object at 0x000002CB8C756860>

In [28]:
print(tuple(rev_name))

('n', 'u', 'j', 'r', 'a')