# Tuples

In [1]:
a = ()

In [2]:
type(a)

tuple

In [3]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

- 'count' and 'index' operations can be done on tuple.

In [4]:
a = (1,2,3,4)

In [5]:
print(type(a))

<class 'tuple'>

In [6]:
print(a)

(1, 2, 3, 4)

> Index Operation :

In [11]:
a[3]

4

In [76]:
a.index(4)

3

In [77]:
a[-1]

4

In [78]:
a[-4]

1

> Length Operation :

In [13]:
len(a)

4

> Repetition :

In [15]:
print(a*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

> Count Operation :

In [18]:
a.count(4)

1

-  It tells how many times object is repeated in tuple.

## Tuple with one object

In [20]:
tpl = (1)

In [21]:
type(tpl)

int

In [22]:
tpl = (1,)

In [23]:
type(tpl)

tuple

## Ways to create tuple

1. Using tuple class

In [ ]:
tpl = tuple((1,2,3,4,5))

In [26]:
print(tpl)

(1, 2, 3, 4, 5)

In [27]:
type(tpl)

tuple

2. Using Literals

In [28]:
tpl = (1,2,3,4,5)

In [29]:
print(tpl)

(1, 2, 3, 4, 5)

In [30]:
print(type(tpl))

<class 'tuple'>

3. Using Objects separated by commas

In [32]:
tpl = 1,2,3,4,5,6

In [33]:
type(tpl)

tuple

In [34]:
tpl

(1, 2, 3, 4, 5, 6)

4. Converting from other containers

 From List :

In [35]:
lst = [1,2,3,4,5,5,6,8]

In [36]:
print(lst)

[1, 2, 3, 4, 5, 5, 6, 8]

In [37]:
print(type(lst))

<class 'list'>

In [39]:
tpl = tuple(lst)

In [40]:
print(tpl)

(1, 2, 3, 4, 5, 5, 6, 8)

In [41]:
print(type(tpl))

<class 'tuple'>

From String :

In [65]:
my_name = 'Arjun'

In [66]:
tpl = tuple(my_name)

In [67]:
tpl

('A', 'r', 'j', 'u', 'n')

In [68]:
type(tpl)

tuple

## Some operations on Tuple

- Tuple is immutable container. It's element doesn't support any operation (write operation).

### Concatenation Operation

In [52]:
tpl = 1,2,3,4,5

In [49]:
print(type(tpl))

<class 'tuple'>

In [50]:
print(tpl)

(1, 2, 3, 4, 5, 4, 5)

In [47]:
tpl += (4,5)

In [48]:
print(tpl)

(1, 2, 3, 4, 5, 4, 5)

### List inside Tuple

In [70]:
tpl = (1,2,3,4,[7,8,9])

In [71]:
print(tpl)

(1, 2, 3, 4, [7, 8, 9])

In [72]:
print(type(tpl))

<class 'tuple'>

In [73]:
print(type(tpl[4]))

<class 'list'>

In [74]:
tpl[4].append(5)

In [75]:
print(tpl)

(1, 2, 3, 4, [7, 8, 9, 5])